
.DS_Store
*.history
.DS_Store
firstRunResults/.DS_Store
.DS_Store
*.html
firstRunResults/.DS_Store
*.gtf
firstRunResults/.DS_Store
*.numbers
*.jpeg
.here
*.tiff
Geno.x.Pheno/Gene_Analyses_files/figure-latex/viz key genes Day 21-2.pdf
*.RData
*.pdf
*.pdf
test_geneID2GO_BM.map
*.png
*.rdb
*.rdx
.Rproj.user
*.gz
_db_downloads/collections/refseq/Serinus_canaria/doc_Serinus_canaria_db_refseq.tsv
_db_downloads/collections/refseq/Serinus_canaria/doc_Serinus canaria_db_refseq.txt
edgeR_interaction.Rmd
