
.DS_Store
*.history
.DS_Store
firstRunResults/.DS_Store
.DS_Store
*.html
firstRunResults/.DS_Store
*.gtf
firstRunResults/.DS_Store
*.numbers
*.jpeg
.here
*.tiff
Geno.x.Pheno/Gene_Analyses_files/figure-latex/viz key genes Day 21-2.pdf
*.RData
*.pdf
*.pdf
